@media screen and (max-width:767px) {
    .movie-list > li {width: 100%; margin-bottom: 40px;}
    header {z-index: 100; display: flex; width: 100%; padding: 0px 15px; background-color: #1d1d1d; position: fixed;}
    nav ul {display: flex; margin-left: 5px;}
    nav > ul > li {margin-right: 20px; margin-top: 5px;}
    .list {margin-left: -280px; margin-top: 60px;}
    .api, .contact {margin-left: -250px; margin-top: 60px;}
    footer {margin-left: -300px;}
}